<%= form_for @flight do |form| %>
  <%= form.hidden_field(:attendance_id, value: @flight.attendance.id) %>

  <p>Manouvres</p>

  <%= form.collection_check_boxes :manoeuvres_array, Flight::MANOUVRES, :to_s, :to_s do |m|
  m.label { m.check_box + m.text}
  end %>

  <p>
    <%= form.label :notes %>
    <%= form.text_field :notes %>
  </p>
  
  <p>
    <%= form.submit 'Create flight', class: 'btn btn-success' %>
  </p>
<% end %>
