<%= form_for @student do |form| %>
  <p>
    <%= form.label :first_name %>
    <%= form.text_field :first_name %>
  </p>

  <p>
    <%= form.label :middle_name %>
    <%= form.text_field :middle_name %>
  </p>

  <p>
    <%= form.label :last_name %>
    <%= form.text_field :last_name %>
  </p>

  <p>
    <%= form.label :shv_number %>
    <%= form.text_field :shv_number %>
  </p>

  <p>
    <%= form.label :radio %>
    <%= form.check_box :radio %>
  </p>

  <h2>Licences</h2>
  <p>
    <%= form.label :radio %>
    <%= form.check_box :radio %>
  </p>

  <%= form.submit 'Create student', class: 'btn btn-success' %>
<% end %>
