<h1>Flights for <%= @student.name %></h1>

<div class='table-responsive'>
  <table class='table table-fit table-sm table-striped'>
    <thead class='thead-light'>
      <tr>
        <th>#</th>
        <th>Date</th>
        <th>Manoeuvres</th>
        <th>Notes</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @student.all_flights.each_with_index do |flight, index| %>
          <tr>
          <td><%= index + 1 %></td>
          <td><%= flight.date %></td>
          <td><%= flight.manoeuvres %></td>
          <td><%= flight.notes %></td>
          <td><%= button_to 'Edit', edit_flight_path(flight), method: :get, class: 'btn btn-warning' %></td>
          <td><%= if flight.instance_of?(Flight)
                    button_to 'Delete', flight, method: :delete, class: 'btn btn-danger'
                  else
                    button_to 'Delete', [@student, flight], method: :delete, class: 'btn btn-danger'
                  end %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
