<h1>Students</h1>

<%= link_to 'Create new student', new_student_path, class: 'btn btn-warning' %>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Total flights</th>
      <th>Glider</th>
      <th>Glider color</th>
      <th>SHV Number</th>
      <th>Radio</th>
    </tr>
  </thead>
  <tbody>
    <% @students.order(:first_name).each do |student| %>
      <tr>
        <td><%= link_to student.name, student %></td>
        <td><%= student.total_flights %></td>
        <% unless student.gliders.empty? %>
          <td><%= student.gliders.last.name %></td>
          <td>
            <%= render 'gliders/glider_color', glider: student.gliders.last %>
          </td>
        <% else %>
          <td></td>
          <td></td>
        <% end %>
        <td><%= student.shv_number %></td>
        <td><%= student.radio %></td>
        <td><%= button_to 'Delete', student, method: :delete, confirm: 'Are you sure?' %></td>
        <td><%= button_to 'Delete', student, method: :delete, confirm: 'Are you sure?' %></td>
        <td><%= link_to 'Edit', edit_student_path(student) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Create new student', new_student_path, class: 'btn btn-warning' %>
<%= link_to 'Add a new glider', new_glider_path, class: 'btn btn-warning' %>
