<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @student.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @student.last_name %>
</p>

<p>
  <strong>N flights:</strong>
  <%= @student.n_flights %>
</p>

<p>
  <strong>Shv number:</strong>
  <%= @student.shv_number %>
</p>

<p>
  <strong>Radio:</strong>
  <%= @student.radio %>
</p>

<p>
  <strong>Glider:</strong>
  <%= @student.glider %>
</p>

<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', students_path %>
