<h1><%= @student.name %></h1>

<p>
  Additional flights: <%= @student.additional_flights %>
</p>

<p>
Glider: <%= @student.gliders.map(&:name).join(", ")  %>
</p>

<p>
  SHV Number: <%= @student.shv_number %>
</p>

<p>
  Radio: <%= @student.radio %>
</p>
