<h1><%= @student.name %></h1>

<p>
  Additional flights: <%= @student.additional_flights.count %>
</p>

<p>
  Additional flights new: <%= @student.additional_flights.all %>
</p>

<h2>Create additional flights:</h2>

<%= render partial: 'additional_flights/form' %>


<% @student.gliders.each do |glider| %>
  <p>
    Glider: <%= glider.name %>
  </p>

  <p>
    Glider color:<%= render 'gliders/glider_color', glider: glider %>
  </p>
<% end %>

<p>
  SHV Number: <%= @student.shv_number %>
</p>

<p>
  Radio: <%= @student.radio %>
</p>

<%= link_to 'Back to students', students_path %>
