<%= form_with(model: day, local: true) do |form| %>
  <% if day.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(day.errors.count, "error") %> prohibited this day from being saved:</h2>

      <ul>
      <% day.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :date %>
    <%= form.date_select :date %>
  </div>

  <div class="field">
    <%= form.label :instructor %>
    <%= form.text_field :instructor %>
  </div>

  <div class="field">
    <%= form.label :assistant %>
    <%= form.text_field :assistant %>
  </div>

  <div class="field">
    <%= form.label :takeoff %>
    <%= form.text_field :takeoff %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
