<h1>Days</h1>

<%= link_to 'New day', new_day_path, class: "btn btn-primary" %>

<div class='table-responsive'>
  <table class='table table-striped table-sm table-fit'>
    <thead class='thead-light'>
      <tr>
        <th>#</th>
        <th>Date</th>
        <th>Instructor</th>
        <th>Assistant</th>
        <th>Takeoff</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% days_by_year = @days.group_by {|day| day.date.year } %>
      <% days_by_year.sort_by(&:first).reverse.each do |year, days| %>
        <% days.sort_by(&:date).reverse.each.with_index do |day, index| %>
          <tr>
            <td><%= "#{days.length - index}.#{year}" %></td>
            <td><%= link_to l(day.date), day %></td>
            <td><%= day.instructor %></td>
            <td><%= day.assistant %></td>
            <td><%= day.takeoff %></td>
            <td><%= link_to 'Edit', edit_day_path(day), class: 'btn btn-warning' %></td>
            <td><%= button_to 'Delete', day, method: :delete, confirm: 'Are you sure?', class: 'btn btn-danger' %></td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
