

<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @day.date %>
</p>

<p>
  <strong>Instructor:</strong>
  <%= @day.instructor %>
</p>

<p>
  <strong>Assistant:</strong>
  <%= @day.assistant %>
</p>

<p>
  <strong>Takeoff:</strong>
  <%= @day.takeoff %>
</p>

<p>
  <strong>Students</strong>
  <!-- /loop over the student names/ -->
  <% @day.students.each do |student| %>
    <br />
    <%= student.first_name %> <%= student.last_name %> <br />
  <% end  %>
</p>

<%= form_with(url: day_students_path(@day), local: true) do |form| %>

<p>
  <strong>Select student to add</strong>
  <%= form.collection_select :student_id, Student.all.order(:first_name), :id, :first_name%>
</p>

<div class="actions">
  <%= form.submit %>
</div>

<% end %>

<h1>Students</h1>

<table>
  <tbody>
    <% @day.students.each do |student| %>
      <tr>
        <td><%= student.first_name %></td>
        <td><%= student.last_name %></td>
        <td><%= student.n_flights %></td>
        <td><%= student.shv_number %></td>
        <td><%= student.radio %></td>
        <td><%= student.glider %></td>
        <td><%= link_to 'Show', student %></td>
        <td><%= link_to 'Edit', edit_student_path(student) %></td>
        <td><%= link_to 'Delete', day_student_path(@day, student), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= form_with(model: @day, local: true) do |form| %>

<div class="actions">
  <%= form.submit %>
</div>

<% end %>

<%= link_to 'Edit', edit_day_path(@day) %> |
<%= link_to 'Back', days_path %>
