<%= form_with(model: glider, local: true) do |form| %>
  <% if glider.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(glider.errors.count, "error") %> prohibited this glider from being saved:</h2>

      <ul>
      <% glider.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :type_glider %>
    <%= form.text_field :type_glider %>
  </div>

  <div class="field">
    <%= form.label :size %>
    <%= form.text_field :size %>
  </div>

  <div class="field">
    <%= form.label :manufacturer %>
    <%= form.text_field :manufacturer %>
  </div>

  <div class="field">
    <%= form.label :image %>
    <%= form.text_field :image %>
  </div>

  <div class="field">
    <%= form.label :color_name %>
    <%= form.text_field :color_name %>
  </div>

  <div class="field">
    <%= form.label :serial_number %>
    <%= form.text_field :serial_number %>
  </div>

  <div class="field">
    <%= form.label :year_manufactured %>
    <%= form.text_field :year_manufactured %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
