<%= form_for @glider do |form| %>

  <p>
    <%= form.label :glider_type %>
    <%= form.text_field :glider_type %>
  </p>

  <p>
    <%= form.label :size %>
    <%= form.text_field :size %>
  </p>

  <p>
    <%= form.label :manufacturer %>
    <%= form.text_field :manufacturer %>
  </p>

  <p>
    <%= show_glider_svg @glider %>
  </p>

  <p>
    <%= form.label :color_background %>
    <%= form.select :color_background , options_for_select(Glider::COLORS, @glider.color_background),
    {include_blank: true}, class: 'glider-color-select', data: {area: 'background'} %>
  </p>

  <p>
    <%= form.label :color_arc %>
    <%= form.select :color_arc, options_for_select(Glider::COLORS, selected=@glider.color_arc),
    {include_blank: true}, class: 'glider-color-select', data: {area: 'arc'} %>
  </p>

  <p>
    <%= form.label :color_oval %>
    <%= form.select :color_oval, options_for_select(Glider::COLORS, selected=@glider.color_oval),
    {include_blank: true}, class: 'glider-color-select', data: {area: 'oval'} %>
  </p>

  <p>
    <%= form.label :color %>
    <%= form.text_field :color %>
  </p>

  <p>
    <%= form.label :serial_number %>
    <%= form.text_field :serial_number %>
  </p>

  <p>
    <%= form.label :year_manufactured %>
    <%= form.number_field :year_manufactured, min: 1990, max: 2020 %>
  </p>

  <p>
    <%= form.label :student_id %>
    <%= form.collection_select(:student_id, Student.all, :id, :name, include_blank: 'School glider') %>
  </p>

  <%= form.submit %>
<% end %>
