<p id="notice"><%= notice %></p>

<h1>Gliders</h1>

<table>
  <thead>
    <tr>
      <th>Type</th>
      <th>Size</th>
      <th>Manufacturer</th>
      <th>Image</th>
      <th>Color name</th>
      <th>Serial number</th>
      <th>Year manufactured</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @gliders.each do |glider| %>
      <tr>
        <td><%= glider.type %></td>
        <td><%= glider.size %></td>
        <td><%= glider.manufacturer %></td>
        <td><%= glider.image %></td>
        <td><%= glider.color_name %></td>
        <td><%= glider.serial_number %></td>
        <td><%= glider.year_manufactured %></td>
        <td><%= link_to 'Show', glider %></td>
        <td><%= link_to 'Edit', edit_glider_path(glider) %></td>
        <td><%= link_to 'Destroy', glider, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Glider', new_glider_path %>
