 <h1>Gliders</h1>

<table>
  <thead>
    <tr>
      <th>Type</th>
      <th>Size</th>
      <th>Manufacturer</th>
      <th>Glider image</th>
      <th>Color</th>
      <th>Serial Number</th>
      <th>Year Manufactured</th>
      <th>Student</th>
    </tr>
  </thead>
  <tbody>
    <% @gliders.each do |glider| %>
      <tr>
        <td><%= link_to glider.glider_type, glider %></td>
        <td><%= glider.size %></td>
        <td><%= glider.manufacturer %></td>
        <td><%= show_glider_svg glider %></td>
        <td><%= glider.color %></td>
        <td><%= glider.serial_number %></td>
        <td><%= glider.year_manufactured %></td>
        <td><%= glider.student&.name %></td>
        <td><%= button_to 'Delete', glider, method: :delete, confirm: 'Are you sure?' %></td>
        <td><%= link_to 'Edit', edit_glider_path(glider) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New glider', new_glider_path %>
