<h1><%= @glider.glider_type %></h1>

<p>
  Size: <%= @glider.size %>
</p>

<p>
  Manufacturer: <%= @glider.manufacturer %>
</p>

<p>
  Color: <%= @glider.color %>
</p>

<p>
  Serial Number: <%= @glider.serial_number %>
</p>

<p>
  Year Manufactured: <%= @glider.year_manufactured %>
</p>

<p>
  Student: <%= @glider.student&.name %>
</p>
