<h1><%= @glider.glider_type %> from <%= @glider.student&.name %></h1>

<p>
  Size: <%= @glider.size %>
</p>

<p>
  Manufacturer: <%= @glider.manufacturer %>
</p>

<p>
  Color: <%= @glider.color %>
  Image: <%= show_glider_svg @glider %>

</p>

<p>
  Serial Number: <%= @glider.serial_number %>
</p>

<p>
  Year Manufactured: <%= @glider.year_manufactured %>
</p>
