<h1><%= @glider.glider_type %> from <%= @glider.student&.name %></h1>

<p>
  Size: <%= @glider.size %>
</p>

<p>
  Manufacturer: <%= @glider.manufacturer %>
</p>

<!-- <p>
  Picture: <%= image_tag(@glider.image_url, width: 100) if @glider.image.present? %>
</p> -->

<p>
  Color: <%= @glider.color %>
</p>

<p>
  Serial Number: <%= @glider.serial_number %>
</p>

<p>
  Year Manufactured: <%= @glider.year_manufactured %>
</p>
