<h1><%= @attendance.student.name %></h1>

<p>Glider: <%= @attendance.glider.name %></p>
<p><%= render 'gliders/glider_color', glider: @attendance.glider %></p>

<h2>Flights</h2>

<div class='table-responsive'>
  <table class='table table-striped table-sm table-fit'>
    <thead class='thead-light'>
      <tr>
        <th>#</th>
        <th>Manouvres</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @attendance.flights.each_with_index do |flight, index| %>
          <tr>
          <td><%= index + 1 %></td>
          <td><%= flight.manoeuvres %></td>
          <td><%= button_to 'Edit', edit_flight_path(flight), method: :get, class: 'btn btn-warning' %></td>
          <td><%= button_to 'Delete', flight, method: :delete, class: 'btn btn-danger' %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<h2>Create flight</h2>

<%= render partial: 'flights/form' %>

<%= link_to "Back to the day", @attendance.day, class: 'btn btn-primary' %>
