<!DOCTYPE html>
<html>
<head>
  <title>Skyjam</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_pack_tag 'application', media: 'all'  %>
  <%= javascript_pack_tag 'application' %>
</head>
<body>

  <div class="container">
      <% flash.each do |key, value| %>
      <div class="alert alert-<%= key %>"><%= value %></div>
        <% end %>
  </div>

  <nav>
    <%= link_to 'Days', days_path %>
    <%= link_to 'Students', students_path %>
    <%= link_to 'Gliders', gliders_path %>
  </nav>

  <%= yield %>

</body>
</html>
